In [1]:
from pathlib import Path

data_folder = Path("../Dataset_rev")
file_users = data_folder / "users_rev3.csv"

In [2]:
import pandas as pd

df = pd.read_csv(file_users)
df['Month']= pd.to_datetime(df['user_created_at']).dt.month
df['# of videos'] = df['# of videos'].fillna(0)
df

,id,user_created_at,class,user_latitude,user_longitude,user_city,user_state,user_country,# of videos,numWatched,Month
0,37e369a8-4477-4d5d-acd7-4e3b8059586e,2021-03-23 00:24:53,Creator,36.76775,2.95924,NaN,Algiers,Algeria,4.0,38,3
1,27cf0bb6-3488-4662-916d-3ad04eeec9ca,2021-04-09 19:55:07,Viewer,43.71032,-1.05366,NaN,New Aquitaine,France,5.0,54,4
2,5ebd5e12-ba2a-4bf9-b7e4-92ad24711cd4,2021-04-08 21:48:45,Super Gamer,51.26000,-2.18750,NaN,England,United Kingdom,5.0,50,4
3,30986592-0cbf-43bb-83ed-7501ab3bd373,2021-05-15 00:45:51,Creator,40.65538,-74.38987,NaN,New Jersey,United States,9.0,57,5
4,25b49125-34d1-4694-a4a9-8415bcc3567b,2021-07-05 04:08:53,Viewer,35.61452,-88.81395,Jackson,Tennessee,United States,3.0,60,7
...,...,...,...,...,...,...,...,...,...,...,...
995,d91c5e9a-ed7e-4f4a-b62b-ddabe069198a,2021-11-15 15:16:47,Viewer,-23.44361,-51.87389,NaN,Paraná,Brazil,4.0,61,11
996,b80a25b8-a567-449c-af7a-420c46254112,2021-03-26 22:23:00,Creator,54.48147,53.47103,NaN,Bashkortostan,Russia,6.0,48,3
997,3d27e9ff-bc73-47f7-a51d-3047e6ec959f,2021-08-28 20:45:04,Super Gamer,18.87813,72.93924,NaN,Maharashtra,India,9.0,53,8
998,84e57e9b-4e2e-408b-a351-2aedf85a207c,2021-04-15 10:35:55,Viewer,31.92923,34.86563,NaN,Center District,Israel,7.0,42,4
999,471e1687-07ba-4bb6-8341-839bd3d7c851,2021-05-01 09:08:13,Viewer,27.76056,-15.58602,NaN,NaN,Spain,5.0,49,5

In [3]:
# correlation
df_corr = df.drop(columns = ['id','user_latitude', 'user_longitude']).apply(lambda x: x.factorize()[0]).corr()
df_corr

,user_created_at,class,user_city,user_state,user_country,# of videos,numWatched,Month
user_created_at,1.000000,0.031110,0.246991,0.298100,0.113418,-0.014410,0.061468,0.070231
class,0.031110,1.000000,-0.029777,-0.016444,0.040314,0.030118,-0.008329,0.082405
user_city,0.246991,-0.029777,1.000000,0.195834,0.151900,0.021305,0.019176,0.007403
user_state,0.298100,-0.016444,0.195834,1.000000,0.212922,-0.000777,0.028868,0.003086
user_country,0.113418,0.040314,0.151900,0.212922,1.000000,0.032819,0.007844,-0.015537
# of videos,-0.014410,0.030118,0.021305,-0.000777,0.032819,1.000000,0.043580,0.011406
numWatched,0.061468,-0.008329,0.019176,0.028868,0.007844,0.043580,1.000000,0.016851
Month,0.070231,0.082405,0.007403,0.003086,-0.015537,0.011406,0.016851,1.000000

### no meaningful correlation in user file
The number of created videos (# of videos) and the number of watched videos (numWatched) has only 0.013178 correlation.

In [4]:
def getCount_col (col):
    cnt_df = df.groupby(df[col]).size().reset_index(name='counts')
    cnt_df.set_index(col, inplace=True)
    cnt_df.sort_values(by=['counts'], ascending=False, inplace=True)
    
    return cnt_df

In [5]:
getCount_col ('class')

               counts
class
Gamer             213
Super Gamer       209
Super Creator     206
Creator           186
Viewer            186

In [6]:
df.sort_values(by=['# of videos'], ascending=False)

,id,user_created_at,class,user_latitude,user_longitude,user_city,user_state,user_country,# of videos,numWatched,Month
653,ddfeab0f-274a-4cab-86c2-873cbd8e485e,2021-02-23 12:12:07,Creator,27.92470,78.40102,NaN,Uttar Pradesh,India,12.0,62,2
156,fe96fb46-1629-4e5c-8a4c-d244146726c4,2021-11-24 08:05:00,Gamer,51.39148,-0.29825,London,England,United Kingdom,12.0,58,11
867,b86d3272-a6a0-449c-8d04-caa5fbd9260a,2021-11-13 19:26:29,Gamer,40.93333,73.00000,Jalalabat,Jalal-Abad Region,Kyrgyzstan,12.0,55,11
934,293bcb6f-c892-43aa-a92a-4729ec3513fb,2021-06-19 16:24:12,Super Creator,-17.73648,168.31366,Port Vila,Shefa Province,Vanuatu,11.0,44,6
632,e5d8698c-31c1-463a-8d52-8e605366c9ca,2021-11-10 21:28:17,Gamer,45.44694,8.62118,Novara,Piemont,Italy,11.0,67,11
...,...,...,...,...,...,...,...,...,...,...,...
636,46d10c07-3399-49e5-9957-f89da767a226,2021-03-12 12:08:35,Creator,39.46667,141.95000,NaN,NaN,Japan,0.0,55,3
568,decbc12f-77f5-4ca1-9c4a-8d3eafa14767,2021-04-29 20:41:44,Viewer,-3.14306,-58.44417,Itacoatiara,Amazonas,Brazil,0.0,55,4
643,58e88922-9386-41cc-a87a-9d42c1535954,2021-09-25 19:57:21,Viewer,14.37395,100.48528,NaN,Phra Nakhon Si Ayutthaya Province,Thailand,0.0,51,9
905,eb2151e6-7988-4a4b-9948-2ccdc946ca90,2021-08-20 20:22:22,Super Gamer,41.54566,-71.29144,NaN,Rhode Island,United States,0.0,39,8
392,db8de084-49c6-4e28-939f-0e4f9ddce7f8,2021-09-21 13:58:34,Gamer,-14.66463,-52.35558,NaN,Mato Grosso,Brazil,0.0,57,9

In [7]:
df.sort_values(by=['numWatched'], ascending=False)

,id,user_created_at,class,user_latitude,user_longitude,user_city,user_state,user_country,# of videos,numWatched,Month
48,39acf63e-c53c-43b9-a250-7a391070861a,2021-10-10 23:36:52,Creator,4.88441,101.96857,NaN,Kelantan,Malaysia,3.0,72,10
826,3a4ff1db-8a58-4a3b-872d-8bf143067225,2021-05-16 17:37:46,Viewer,33.95015,-118.03917,NaN,California,United States,2.0,71,5
665,ffaed591-9da5-4094-9e93-040f4300cf29,2021-04-24 04:33:56,Super Gamer,4.73245,-74.26419,NaN,NaN,Colombia,6.0,69,4
361,bd474dc1-7576-41ee-b18a-b2626b750a05,2021-08-30 05:47:07,Super Creator,12.18441,18.69303,Mongo,Guéra,Chad,3.0,68,8
496,2d169120-94c0-4922-8842-e70abe8a0f0f,2021-05-21 02:30:51,Super Gamer,39.22493,42.85693,NaN,NaN,Turkey,3.0,68,5
...,...,...,...,...,...,...,...,...,...,...,...
577,1b4d93d7-4d04-484c-953d-25b0c9cf5644,2021-10-19 09:04:34,Viewer,-1.60000,103.61667,NaN,Jambi,Indonesia,4.0,32,10
685,a3d2cffc-8286-47ac-bd57-6d291b60248f,2021-01-11 02:39:11,Super Gamer,48.35149,8.96317,NaN,Baden-Württemberg,Germany,6.0,32,1
413,4b304bba-650c-4249-85a0-c37b16637a1a,2021-04-01 10:35:33,Creator,10.10649,76.35484,NaN,Kerala,India,5.0,32,4
593,ff4f151f-6a94-4f02-980d-5056ff9cd449,2021-03-09 11:38:55,Viewer,34.15429,3.50309,Messaad,Djelfa,Algeria,6.0,32,3
294,bf72d5aa-a63d-41c9-b395-0166b8315a29,2021-04-26 03:14:14,Viewer,-19.72806,-50.19556,NaN,Minas Gerais,Brazil,6.0,30,4